services:
  backend:
    build: ./notes-backend
    ports:
      - "3000:3000"
    env_file:
      - ./notes-backend/.env
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build:
      context: ./notes-frontend
    ports:
      - "4173:4173"
    env_file:
      - ./notes-frontend/.env
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
